<html>
	<head>
		<link href="/css/style.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
		<script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
		<script src="./chart-widget/chartjs-chart-finanacials.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
		<link href='https://css.gg/arrow-left-o.css' rel='stylesheet'>
		<link href='https://css.gg/list.css' rel='stylesheet'>
		<link href='https://css.gg/trending.css' rel='stylesheet'>
	</head>
	<body>
		<div class="TransactModalBox">
			<div class="ModalBox">
				<div class="header">
				</div>
				<form id="field" autocomplete="off" class="field" action="/" method="POST">
						<label class="stocklabel">Stock Name</label>
						<input id="myInput" class="myInput" type="text" onclick="initialautocomplete();" name="stockname" placeholder="Stock Name">

						<label class="datelabel">Date</label>
						<input class="date" type ="date"  name="date" required>

						<label class="qtylabel">Qty</label>
						<input class="quantity" type ="number"  name="qty" required>

						<label class="pricelabel">Price</label>
						<input class="price" type="number" name="price" required>

						<div class="footer">

							<div class="button cancel" onclick="cancel()">Cancel</div>
							<div class="button submit" onclick="transact(this)">Buy</div>
						</div>
        		</form>
			</div>
		</div>
		<div class="navbar" id="navbar">
			<div class="home" onclick="location.href='/home'" id="home">HOME</div>
			<div class="portfolio current" id="portfolio" onclick="location.href='/portfolio'">PORTFOLIO</div>
			<div class="logout" id="logout" onclick="location.href='/logout'">LOGOUT</div>
		</div>
		<div class="labelAndDetail">
			<div class="stockdesc"></div>
			<i class="back gg-arrow-left-o" onclick="revert()"></i>
		</div>
		<div class="chart_container" id="crt_contain">
			<div class="stock_graph" id="can_con">
				<div class="chart_wrapper" id="chart_wrapper">
					<canvas id="main_chart"></canvas>
					<canvas id="for_crossHair"></canvas>
				</div>
				<div class="inc" onclick="increment()">&nbsp+&nbsp</div>
				</div>
				<div class="axis y_axis" id="y_axis">
					<div class="price_bar" id="price_bar_id">
						<canvas id="price_bar_canvas"></canvas>
						<canvas id="price_bar_highlighted_canvas"></canvas>
					</div>
				</div>
				<div class="axis x_axis" id="x_axis">
					<canvas id="time_bar_canvas"></canvas>
					<canvas id="time_bar_highlighted_canvas"></canvas>
				</div>
				<div class="nil" id='nil'>
					<div class="nan">

					</div>
				</div>
				</div>
		<div class="duration_bar" id="d_bar">
			<div class="duration_button day1">1D</div>
			<div class="duration_button week1">1W</div>
			<div class="duration_button month3">3M</div>
			<div class="duration_button month6"onclick="update_chart(180)">6M</div>
			<div class="duration_button ALL" onclick="viewALL()">All</div>
		</div>
		<div class="lateruse">
			<div class="stockheader">
				<div class="stock_name">Instrument</div>
				<div class="stock_quantity">
					<div class="qty">Qty.</div>
				</div>
				<div class="avg_price">Avg. cost</div>
				<div class="LTP">LTP</div>
				<div class="profitloss">P&L</div>
				<div class="change">Net % Chg</div>
				<div class="dayChange">Day % Chg</div>
			</div>
			<div class="transactMenu">
				<div class="buy" onclick="display_modalbox(this,1)">BUY</div>
			    <div class="sell" onclick="display_modalbox(this,-1)">SELL</div>
			</div>
			{{#each all}}
			<div class="stock">
				<div class="each_stock" onmouseleave="hide_moredetail(this)" onmouseover="display_moredetail(this)" >
					<div class="stock_name">
						<div class="stock_name_col">{{this.stock_name}}</div>
						<div class="dispchart" onclick="chartit('{{this.historic}}');disp(this,'{{this.stock_name}}','{{this.stock_desc}}');">
								<i class="gg-trending"></i>
						</div>
					</div>
					<div class="stock_quantity">
						<div class="moredetail" onclick="moreDetail(this,'{{this.stock_name}}');" >
							<i class="gg-list"></i>
						</div>
						<div class="qty">{{this.shares}}</div>
					</div>
					<div class="avg_price">{{this.averagePrice}}</div>
					<div class="LTP">{{this.lastTradedPrice}}</div>
					<div class="profitloss {{this.class}}">{{this.profit_loss}}</div>
					<div class="change {{this.class}}" >{{this.percentChange}}</div>
					<div class="dayChange {{this.class}}">{{this.dayChange}}</div>
				</div>
				<div class="info">
				</div>
			</div>
			{{/each}}
        </div>
	</body>
	<script src="./chart-widget/canvas.js">
	</script>
</html>
