<html>
	<head>
		<link href="/css/style.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
		<script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
		<script src="./chart-widget/chartjs-chart-finanacials.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
		
	</head>
	<body>
		<div class="chart_container" id="crt_contain">
			<div class="stock_label">{{selected_stock.stock_name}}</div>
			<div class="stock_graph" id="can_con">
				<div class="chart_wrapper" id="chart_wrapper">
					<canvas id="main_chart"></canvas>
					<canvas id="for_crossHair"></canvas>
				</div>
				<div class="here" onclick="increment()">&nbsp+&nbsp</div>
				</div>
				<div class="axis y_axis" id="y_axis">
					<div class="price_bar" id="price_bar_id">
						<canvas id="price_bar_canvas"></canvas>
						<canvas id="price_bar_highlighted_canvas"></canvas>
					</div>
				</div>
				<div class="axis x_axis" id="x_axis">
					<canvas id="time_bar_canvas"></canvas>
					<canvas id="time_bar_highlighted_canvas"></canvas>
				</div>
				<div class="nil" id='nil'>
					<div class="nan">

					</div>
				</div>
				</div>
		<div class="duration_bar" id="d_bar">
			<div class="duration_button day1">1D</div>
			<div class="duration_button week1">1W</div>
			<div class="duration_button month3">3M</div>
			<div class="duration_button month6"onclick="update_chart(180)">6M</div>
			<div class="duration_button ALL" onclick="viewALL()">All</div>
		</div>
		<div class="lateruse">
            {{#each all}}
            <div class="each_stock {{this.class}}"  onclick="chartit('{{this.historic}}');disp(this,'{{this.stock_name}}','{{this.stock_desc}}');">
				<div class="stock_name">{{this.stock_name}}</div>
				<div class="stock_quantity">{{this.shares}}</div>
				<div class="avg_price">{{this.averagePrice}}</div>
			</div>
            {{/each}}
        </div>
	</body>
	<script src="./chart-widget/canvas.js">
	</script>
</html>